.og{
    background-color: #FFFF;
}
.Padmin{
    display: flex;
    column-count: 2;
    height: auto;
}
#SidePanel{
    background-color: #D9D9D9;
    width: 275px;
    height: 100vh;
}
#MainPanel{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #FFFF;
}
.click a{
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    height: 50px;
    width: 200px;
    background-color: #bbb9b9;
    cursor: pointer;
    border-radius: 2px;
    transition: opacity 150ms; 
    text-decoration: none; 
    color: black;
}
.click:hover{
    opacity: 0.7;
}
.click:active{
    opacity: 0.4;
}
.EditContainer{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0px;
    height: 240px;
}
.displayMainPanel{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color:  #D9D9D9;
}


@media screen and (max-width: 1100px) {
    .displayMainPanelSubClass {
      flex-direction: column;
      row-gap: 20px;
    }
    .averageSalesDisplay{
        width: 200px;
        height: 100px;
    }
    .calendarDisplay, .emailsDisplay{
        width: 200px;
        height: 100px;
    }
  }