.og{
    background-color: #FFFF;
}
.Padmin{
    display: flex;
    column-count: 2;
    height: auto;
}
#SidePanel{
    background-color: #D9D9D9;
    width: 275px;
    height: 100vh;
}
#MainPanel{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #FFFF;
}
.click a{
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    height: 50px;
    width: 200px;
    background-color: #bbb9b9;
    cursor: pointer;
    border-radius: 2px;
    transition: opacity 150ms; 
    text-decoration: none; 
    color: black;
}
.click:hover{
    opacity: 0.7;
}
.click:active{
    opacity: 0.4;
}
.EditContainer{
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0px;
    height: 240px;
}
.displayMainPanel{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color:  #D9D9D9;
}
.UpdatesButtonDiv{
    width: 135px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.displayMainPanel > .UpdatesButtonDiv > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    width: 35px;
    height: 35px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.displayMainPanel > .UpdatesButtonDiv > div > img{
    width: 50px;
    height: 100px;
    
}
.displayMainPanel > .UpdatesButtonDiv{
    display: flex;
    align-self: flex-end;
    padding-bottom: 115px;
}
.displayMainPanel{
    display: flex;
    justify-content: flex-end;
}


/* .displayMainPanel {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    position: relative; 
  }
  
  .UpdatesButtonDiv {
    width: 135px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute; 
    top: 50%;
    right: 0; 
    transform: translateY(-50%); 
  }
  
  .UpdatesButtonDiv > div {
    margin-bottom: 20px;
  }
  
  .UpdatesButtonDiv > div > img {
    width: 50px;
    height: 100px;
  }
  
  .AddButton > img {
    background-image: url("img/svg/add_button.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  .EditButton > img {
    background-image: url("img/svg/edit Icon.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  .DeleteButton > img {
    background-image: url("img/svg/trash.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  
 */






/* .AddButton{
    position: fixed;
}
.EditButton{
    position: fixed;
}
.DeleteButton{
    position: fixed;
} */

@media screen and (max-width: 1100px) {
    .displayMainPanelSubClass {
      flex-direction: column;
      row-gap: 20px;
    }
    .averageSalesDisplay{
        width: 200px;
        height: 100px;
    }
    .calendarDisplay, .emailsDisplay{
        width: 200px;
        height: 100px;
    }
  }